Project Name: Stock Portfolio Returns Analysis using Machine Learning and Optimisation Methods


TUM School of Management
Professor ...
Group Members:
1. Yen Vu Thi Ngoc
2. Rui Liu
3. Yesenia Marin Paniagua

# Table of Contents:
1. Introduction
2. Data Processing
3. Descriptive Analysis
4. Predictive Analysis
5. Prescriptive Analysis (Allocating Weights)
6. Rolling Portfolio
7. Performance Assessment
8. Conclusions
9. Limitations and Further Steps

#1. Introduction
The project is conducted in order to delve into the analytical methodologies applied to financial data, specifically focusing on a stock portfolio of US-based large-cap companies in the Information Technology sector from 2022 - 2023. With the use of machine learning models and time series models, the analysis also aim to discover the optimal models to predict portfolio´s future returns.

#2. Data Processing
* Import the necessary libraries
* Load the datasets into Pandas DataFrames
* Rename the data columns, remove uneccessary variables
* Convert 'date' column to datetime type, columns´s types into appropriate types
* Handling missing data

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

import warnings
warnings.filterwarnings('ignore', category=UserWarning)
warnings.filterwarnings('ignore', category=FutureWarning)

In [2]:
# Importing stock daily trading of portfolio from 2022-01-01 until 2023-12-31
daily_trading = pd.read_csv("Stock_Daily_Trading.csv", sep= ",")
daily_trading

,PERMNO,date,EXCHCD,TICKER,COMNAM,PERMCO,DIVAMT,BIDLO,ASKHI,PRC,VOL,RET,SHROUT,OPENPRC,NUMTRD,RETX,sprtrn
0,10107,2022-01-03,3,MSFT,MICROSOFT CORP,8048,NaN,329.78000,338.00000,334.75000,28823566,-0.004668,7507980,335.35001,397115.0,-0.004668,0.006374
1,10107,2022-01-04,3,MSFT,MICROSOFT CORP,8048,NaN,326.12000,335.20001,329.01001,32626156,-0.017147,7507980,334.82999,520038.0,-0.017147,-0.000630
2,10107,2022-01-05,3,MSFT,MICROSOFT CORP,8048,NaN,315.98001,326.07001,316.38000,39957778,-0.038388,7507980,325.85999,641921.0,-0.038388,-0.019393
3,10107,2022-01-06,3,MSFT,MICROSOFT CORP,8048,NaN,311.48999,318.70001,313.88000,39744069,-0.007902,7507980,313.14999,630065.0,-0.007902,-0.000964
4,10107,2022-01-07,3,MSFT,MICROSOFT CORP,8048,NaN,310.09000,316.50000,314.04001,32664078,0.000510,7507980,314.14999,501305.0,0.000510,-0.004050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5005,90319,2023-12-22,3,GOOGL,ALPHABET INC,45483,NaN,140.71001,141.99001,141.49001,26396854,0.007620,5918000,140.77000,295666.0,0.007620,0.001660
5006,90319,2023-12-26,3,GOOGL,ALPHABET INC,45483,NaN,141.19000,142.67999,141.52000,16684304,0.000212,5918000,141.59000,208470.0,0.000212,0.004232
5007,90319,2023-12-27,3,GOOGL,ALPHABET INC,45483,NaN,139.88600,142.08000,140.37000,19440225,-0.008126,5918000,141.59000,233363.0,-0.008126,0.001430
5008,90319,2023-12-28,3,GOOGL,ALPHABET INC,45483,NaN,139.75000,141.14000,140.23000,16023523,-0.000997,5918000,140.78000,199651.0,-0.000997,0.000370
5009,90319,2023-12-29,3,GOOGL,ALPHABET INC,45483,NaN,138.78000,140.36000,139.69000,18632534,-0.003851,5918000,139.63000,226701.0,-0.003851,-0.002826

In [3]:
daily_trading.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5010 entries, 0 to 5009
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PERMNO   5010 non-null   int64
 1   date     5010 non-null   object
 2   EXCHCD   5010 non-null   int64
 3   TICKER   5010 non-null   object
 4   COMNAM   5010 non-null   object
 5   PERMCO   5010 non-null   int64
 6   DIVAMT   65 non-null     float64
 7   BIDLO    5010 non-null   float64
 8   ASKHI    5010 non-null   float64
 9   PRC      5010 non-null   float64
 10  VOL      5010 non-null   int64
 11  RET      5010 non-null   float64
 12  SHROUT   5010 non-null   int64
 13  OPENPRC  5010 non-null   float64
 14  NUMTRD   2004 non-null   float64
 15  RETX     5010 non-null   float64
 16  sprtrn   5010 non-null   float64
dtypes: float64(9), int64(5), object(3)
memory usage: 665.5+ KB

In [4]:
daily_trading.shape

(5010, 17)

In [5]:
# Importing financial ratios of 10 companies in the portfolio from 2022-01-01 until 2023-12-31
financial_ratios = pd.read_csv("Financial Ratios_Top 10 Profitable Companies_2y.csv", sep= ",")
financial_ratios

,gvkey,permno,adate,qdate,public_date,pe_exi,pe_inc,dpr,npm,gpm,roa,roe,debt_at,dltt_be,intcov_ratio,quick_ratio,curr_ratio,inv_turn,at_turn,TICKER
0,12141,10107,2021-06-30,2021-09-30,2022-01-31,34.785,34.785,0.249,0.385,0.758,0.277,0.512,0.254,0.518,32.578,2.228,2.261,16.689,0.550,MSFT
1,12141,10107,2021-06-30,2021-12-31,2022-02-28,31.820,31.820,0.243,0.385,0.759,0.286,0.509,0.245,0.487,35.212,2.155,2.191,15.791,0.561,MSFT
2,12141,10107,2021-06-30,2021-12-31,2022-03-31,32.834,32.834,0.243,0.385,0.759,0.286,0.509,0.245,0.487,35.212,2.155,2.191,15.791,0.561,MSFT
3,12141,10107,2021-06-30,2021-12-31,2022-04-30,29.555,29.555,0.243,0.385,0.759,0.286,0.509,0.245,0.487,35.212,2.155,2.191,15.791,0.561,MSFT
4,12141,10107,2021-06-30,2022-03-31,2022-05-31,28.379,28.379,0.245,0.376,0.759,0.291,0.492,0.236,0.469,38.947,2.081,2.119,15.010,0.569,MSFT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,160329,90319,2022-12-31,2023-06-30,2023-08-31,28.850,28.850,0.000,0.211,0.606,0.251,0.237,0.081,0.103,166.651,2.311,2.348,43.957,0.785,GOOGL
236,160329,90319,2022-12-31,2023-06-30,2023-09-30,27.725,27.725,0.000,0.211,0.606,0.251,0.237,0.081,0.103,166.651,2.311,2.348,43.957,0.785,GOOGL
237,160329,90319,2022-12-31,2023-06-30,2023-10-31,26.288,26.288,0.000,0.211,0.606,0.251,0.237,0.081,0.103,166.651,2.311,2.348,43.957,0.785,GOOGL
238,160329,90319,2022-12-31,2023-09-30,2023-11-30,25.438,25.438,0.000,0.225,0.604,0.254,0.257,0.080,0.100,164.303,2.190,2.224,46.315,0.785,GOOGL
239,160329,90319,2022-12-31,2023-09-30,2023-12-31,26.812,26.812,0.000,0.225,0.604,0.254,0.257,0.080,0.100,164.303,2.190,2.224,46.315,0.785,GOOGL

In [6]:
financial_ratios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         240 non-null    int64
 1   permno        240 non-null    int64
 2   adate         240 non-null    object
 3   qdate         240 non-null    object
 4   public_date   240 non-null    object
 5   pe_exi        240 non-null    float64
 6   pe_inc        240 non-null    float64
 7   dpr           239 non-null    float64
 8   npm           240 non-null    float64
 9   gpm           240 non-null    float64
 10  roa           240 non-null    float64
 11  roe           240 non-null    float64
 12  debt_at       240 non-null    float64
 13  dltt_be       240 non-null    float64
 14  intcov_ratio  191 non-null    float64
 15  quick_ratio   192 non-null    float64
 16  curr_ratio    192 non-null    float64
 17  inv_turn      216 non-null    float64
 18  at_turn       240 non-null    float64
 19  TICKER        240 non-null    object
dtypes: float64(14), int64(2), object(4)
memory usage: 37.6+ KB

In [7]:
financial_ratios.shape

(240, 20)

In [8]:
# Rename "public_date" column from financial_ratios dataset into "date"
#financial_ratios = financial_ratios.rename(columns={"public_date": "date"})

In [9]:
# Sort both datasets by "date" then "company name"
daily_trading["column_to_merge"] = daily_trading['PERMNO'].astype(str) + '_' + daily_trading['date'].astype(str)
financial_ratios["column_to_merge"] = financial_ratios['permno'].astype(str) + '_' + financial_ratios['public_date'].astype(str)

daily_trading = daily_trading.sort_values([ "column_to_merge"])
financial_ratios = financial_ratios.sort_values([ "column_to_merge"])

financial_ratios

,gvkey,permno,adate,qdate,public_date,pe_exi,pe_inc,dpr,npm,gpm,...,roe,debt_at,dltt_be,intcov_ratio,quick_ratio,curr_ratio,inv_turn,at_turn,TICKER,column_to_merge
0,12141,10107,2021-06-30,2021-09-30,2022-01-31,34.785,34.785,0.249,0.385,0.758,...,0.512,0.254,0.518,32.578,2.228,2.261,16.689,0.550,MSFT,10107_2022-01-31
1,12141,10107,2021-06-30,2021-12-31,2022-02-28,31.820,31.820,0.243,0.385,0.759,...,0.509,0.245,0.487,35.212,2.155,2.191,15.791,0.561,MSFT,10107_2022-02-28
2,12141,10107,2021-06-30,2021-12-31,2022-03-31,32.834,32.834,0.243,0.385,0.759,...,0.509,0.245,0.487,35.212,2.155,2.191,15.791,0.561,MSFT,10107_2022-03-31
3,12141,10107,2021-06-30,2021-12-31,2022-04-30,29.555,29.555,0.243,0.385,0.759,...,0.509,0.245,0.487,35.212,2.155,2.191,15.791,0.561,MSFT,10107_2022-04-30
4,12141,10107,2021-06-30,2022-03-31,2022-05-31,28.379,28.379,0.245,0.376,0.759,...,0.492,0.236,0.469,38.947,2.081,2.119,15.010,0.569,MSFT,10107_2022-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,160329,90319,2022-12-31,2023-06-30,2023-08-31,28.850,28.850,0.000,0.211,0.606,...,0.237,0.081,0.103,166.651,2.311,2.348,43.957,0.785,GOOGL,90319_2023-08-31
236,160329,90319,2022-12-31,2023-06-30,2023-09-30,27.725,27.725,0.000,0.211,0.606,...,0.237,0.081,0.103,166.651,2.311,2.348,43.957,0.785,GOOGL,90319_2023-09-30
237,160329,90319,2022-12-31,2023-06-30,2023-10-31,26.288,26.288,0.000,0.211,0.606,...,0.237,0.081,0.103,166.651,2.311,2.348,43.957,0.785,GOOGL,90319_2023-10-31
238,160329,90319,2022-12-31,2023-09-30,2023-11-30,25.438,25.438,0.000,0.225,0.604,...,0.257,0.080,0.100,164.303,2.190,2.224,46.315,0.785,GOOGL,90319_2023-11-30
239,160329,90319,2022-12-31,2023-09-30,2023-12-31,26.812,26.812,0.000,0.225,0.604,...,0.257,0.080,0.100,164.303,2.190,2.224,46.315,0.785,GOOGL,90319_2023-12-31

In [10]:
# Merge the two DataFrames using an outer join on "column to merge" column
merged_df = pd.merge(daily_trading, financial_ratios, on='column_to_merge', how='outer')
merged_df = merged_df.sort_values([ "column_to_merge"])
merged_df[["column_to_merge", "quick_ratio"]]

       column_to_merge  quick_ratio
0     10107_2022-01-03          NaN
1     10107_2022-01-04          NaN
2     10107_2022-01-05          NaN
3     10107_2022-01-06          NaN
4     10107_2022-01-07          NaN
...                ...          ...
5065  90319_2023-12-26          NaN
5066  90319_2023-12-27          NaN
5067  90319_2023-12-28          NaN
5068  90319_2023-12-29          NaN
5069  90319_2023-12-31         2.19

[5070 rows x 2 columns]

In [11]:
# Check for missing values in the merged dataset
missing_values = merged_df.isnull().sum()
print(missing_values)

PERMNO               60
date                 60
EXCHCD               60
TICKER_x             60
COMNAM               60
PERMCO               60
DIVAMT             5005
BIDLO                60
ASKHI                60
PRC                  60
VOL                  60
RET                  60
SHROUT               60
OPENPRC              60
NUMTRD             3066
RETX                 60
sprtrn               60
column_to_merge       0
gvkey              4830
permno             4830
adate              4830
qdate              4830
public_date        4830
pe_exi             4830
pe_inc             4830
dpr                4831
npm                4830
gpm                4830
roa                4830
roe                4830
debt_at            4830
dltt_be            4830
intcov_ratio       4879
quick_ratio        4878
curr_ratio         4878
inv_turn           4854
at_turn            4830
TICKER_y           4830
dtype: int64

In [12]:
# Fill missing values using backward fill
columns_to_fill = [
    'pe_exi', 'pe_inc', 'dpr', 'npm', 'gpm', 'roa', 'roe', 'debt_at',
    'dltt_be', 'intcov_ratio', 'quick_ratio', 'curr_ratio', 'inv_turn', 'at_turn'
]

for column in columns_to_fill:
    merged_df[column] = merged_df[column].fillna(method='bfill')

#Fill financial_ratios manually with zero values for companies whose no records (META has no records in "inv_turn", JPM and BAC have no records in "intcov_ratio", "quick_ratio", "curr_ratio")
merged_df.loc[merged_df['PERMNO'] == 13407, 'inv_turn'] = 0
merged_df.loc[(merged_df['PERMNO'] == 47896) | (merged_df['PERMNO'] == 59408), ['intcov_ratio', 'quick_ratio', 'curr_ratio']] = 0

# Drop rows with missing values in specified columns due to non-trading days
columns_to_drop_na = ['PERMNO', 'EXCHCD', 'TICKER_x', 'COMNAM', 'PERMCO', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'RET', 'SHROUT', 'OPENPRC', 'RETX']
merged_df.dropna(subset=columns_to_drop_na, inplace=True)

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5010 entries, 0 to 5068
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PERMNO           5010 non-null   float64
 1   date             5010 non-null   object
 2   EXCHCD           5010 non-null   float64
 3   TICKER_x         5010 non-null   object
 4   COMNAM           5010 non-null   object
 5   PERMCO           5010 non-null   float64
 6   DIVAMT           65 non-null     float64
 7   BIDLO            5010 non-null   float64
 8   ASKHI            5010 non-null   float64
 9   PRC              5010 non-null   float64
 10  VOL              5010 non-null   float64
 11  RET              5010 non-null   float64
 12  SHROUT           5010 non-null   float64
 13  OPENPRC          5010 non-null   float64
 14  NUMTRD           2004 non-null   float64
 15  RETX             5010 non-null   float64
 16  sprtrn           5010 non-null   float64
 17  column_to_merge  5010 non-null   object
 18  gvkey            180 non-null    float64
 19  permno           180 non-null    float64
 20  adate            180 non-null    object
 21  qdate            180 non-null    object
 22  public_date      180 non-null    object
 23  pe_exi           5010 non-null   float64
 24  pe_inc           5010 non-null   float64
 25  dpr              5010 non-null   float64
 26  npm              5010 non-null   float64
 27  gpm              5010 non-null   float64
 28  roa              5010 non-null   float64
 29  roe              5010 non-null   float64
 30  debt_at          5010 non-null   float64
 31  dltt_be          5010 non-null   float64
 32  intcov_ratio     5010 non-null   float64
 33  quick_ratio      5010 non-null   float64
 34  curr_ratio       5010 non-null   float64
 35  inv_turn         5010 non-null   float64
 36  at_turn          5010 non-null   float64
 37  TICKER_y         180 non-null    object
dtypes: float64(30), object(8)
memory usage: 1.5+ MB

In [13]:
# Fill missing values in 'DIVAMT' and 'NUMTRD' columns with 0
merged_df['DIVAMT'].fillna(0, inplace=True)
merged_df['NUMTRD'].fillna(0, inplace=True)

#Drop unnessary columns: gvkey, permno, adate, qdate, TICKER_y
merged_droped_df = merged_df.drop(['gvkey', 'permno', 'PERMCO','COMNAM', 'adate', 'qdate', 'public_date','TICKER_y', 'column_to_merge'], axis=1)

# Verify if missing values are dropped
print(merged_droped_df.isnull().sum())

PERMNO          0
date            0
EXCHCD          0
TICKER_x        0
DIVAMT          0
BIDLO           0
ASKHI           0
PRC             0
VOL             0
RET             0
SHROUT          0
OPENPRC         0
NUMTRD          0
RETX            0
sprtrn          0
pe_exi          0
pe_inc          0
dpr             0
npm             0
gpm             0
roa             0
roe             0
debt_at         0
dltt_be         0
intcov_ratio    0
quick_ratio     0
curr_ratio      0
inv_turn        0
at_turn         0
dtype: int64

In [14]:
# Check data types of all columns
print(merged_droped_df.dtypes)

#Convert into correct datatypes:
merged_droped_df['PERMNO'] = merged_droped_df['PERMNO'].astype(int)
merged_droped_df['date'] = pd.to_datetime(merged_droped_df['date'])

#Check duplicates

PERMNO          float64
date             object
EXCHCD          float64
TICKER_x         object
DIVAMT          float64
BIDLO           float64
ASKHI           float64
PRC             float64
VOL             float64
RET             float64
SHROUT          float64
OPENPRC         float64
NUMTRD          float64
RETX            float64
sprtrn          float64
pe_exi          float64
pe_inc          float64
dpr             float64
npm             float64
gpm             float64
roa             float64
roe             float64
debt_at         float64
dltt_be         float64
intcov_ratio    float64
quick_ratio     float64
curr_ratio      float64
inv_turn        float64
at_turn         float64
dtype: object

In [15]:
merged_droped_df.shape

(5010, 29)

In [16]:
#Convert clean dataframe into csv file
merged_droped_df.to_csv('Merged_dataset_clean.csv', index=False)

**Rui**

**Yen**

**Yese**